/* ==========================================================================
   FEATURES
   ========================================================================== */
.features {
  padding-top: 60px;
    background: url('@{images}/bg/features.jpg') center center no-repeat;
    background-size: cover;
    color: @color-white;

    .heading {
      margin-top: 0;
      color: @color-white;
      .color {
        color: @color-orange;
      }
    }
}
