/* ==========================================================================
   VERIFY
   ========================================================================== */
.verify {
    margin-top: -156px;
    position: relative;
    z-index: 2;

    .bg {
      background: @color-orange;
        position: absolute;
        top: 140px;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
    }

    .wrapper {
      position: relative;
      z-index: 2;
    }

    .heading {
      margin-bottom: 0;
      color: @color-orange-dark;
    }

    .text {
      margin-bottom: 12px;
      font-size: 14px;
      line-height: 17px;
    }

    .list {
      max-width: 250px;
      margin: 0 auto;
        padding: 0;
        list-style: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        color: @color-white;
        text-align: center;

        li {
          margin-bottom: 20px;
          padding: 0 10px;
        }

        .image {
            width: 250px;
            height: 250px;
            margin: 0 -10px 16px;
            display: block;
            border: 5px solid @color-white;
        }
    }

    .girl {
      width: 200px;
      margin: 0 auto;
    }
}
