/* ==========================================================================
   POPUPS
   ========================================================================== */
@duration-small: .2s;
@duration-default: .4s;
/* ZOOM-IN EFFECT */
.mfp {
    &-slide-in {
        .mfp-content {
            transition: transform @duration-default @easing;
            transform: translate3d(0, -200% , 0);
        }
        &.mfp-bg {
            opacity: 0;
            transition: opacity @duration-default @easing;
        }
        &.mfp-ready {
            .mfp-content {
                transform: translate3d(0, 0, 0);
                transition-delay: @duration-small;
            }
            &.mfp-bg {
                opacity: .9;
            }
        }
        &.mfp-removing {
            .mfp-content {
                transform: translate3d(0, -200%, 0);
                transition-delay: 0;
            }
            &.mfp-bg {
                opacity: 0;
                transition-delay: @duration-default;
            }
        }
    }

    &-wrap {
        min-width: 320px;
        -webkit-overflow-scrolling: touch;
    }

    &-container {
        padding-left: 0;
        padding-right: 0;
    }

    &-bg {
        background: @color-dark;
    }

    &-bottom-bar, &-title, &-counter {
        cursor: default;
    }

    &-content {
        max-width: 640px;
    }

    &-close {
        width: 30px !important;
        height: 30px;
        padding: 0 !important;
        top: 10px !important;
        right: 5px !important;
        text-align: left !important;
        transition: none;
        opacity: 1;
        cursor: pointer;
        @media @tablet-sm {
            top: 39px !important;
            right: 36px !important;
        }

        &:before, &:after {
            .pseudo;
            width: 15px;
            height: 2px;
            border: none;
            border-radius: 2px;
            margin: auto !important;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: @color-dark;
            backface-visibility: hidden;
            opacity: 1;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }

        &:hover {
            top: 0;
        }
    }
}

.popup {
    padding: 65px 20px 35px;
    position: relative;
    background: @color-white;
    backface-visibility: hidden;
    @media @tablet-sm {
        padding: 65px 90px 70px;
        border-radius: 10px;
    }

    .heading {
        width: 100%;
        max-width: none;
        margin: 0 0 30px;
        display: block;
        font: 300 24px/30px @font-heading;
        color: @color-gray-dark;
        text-align: center;
        text-transform: uppercase;
        cursor: default;
        @media @tablet-sm {
            width: auto;
            margin: 0 -50px 55px;
            line-height: 32px;
        }

        .big {
            font-size: 36px;
            font-weight: bold;
            display: block;
        }
        .small {
            max-width: 250px;
            margin: 0 auto;
            display: block;
            @media @tablet-sm {
                max-width: none;
            }
        }
    }

    .form-feedback {
        padding: 0;

        .form-group {
            margin-bottom: 25px;
            @media @tablet-sm {
                margin-bottom: 8px;
            }
        }

        .button {
            width: 100%;
            max-width: 310px;
            padding-top: 30px;
            padding-bottom: 20px;
            margin: 50px auto 0;
            display: block;
            font-size: 50px;
            line-height: normal;
            @media @tablet-sm {
                max-width: 440px;
                padding-top: 20px;
                padding-bottom: 10px;
                font-size: 38px;
            }
        }
    }
}
