/* ==========================================================================
   VERIFY
   ========================================================================== */
.verify {
    margin-top: -140px;
    position: relative;
    z-index: 2;
    @media @tablet-sm {
        margin-top: -118px;
    }

    .bg {
        background: @color-orange;
        position: absolute;
        top: 140px;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
        @media @tablet-sm {
            top: 110px;
        }
    }

    .wrapper {
        position: relative;
        z-index: 2;
    }

    .heading {
        margin: 0;
        color: @color-orange-dark;
        @media @tablet-sm {
            margin-bottom: -10px;
        }
    }

    .text {
        margin-bottom: 12px;
        font-size: 14px;
        line-height: 17px;
        @media @tablet-sm {
            margin-bottom: 16px;
            font-size: 16px;
        }
    }

    .list {
        margin: 0;
        padding: 0;
        list-style: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        color: @color-white;
        text-align: center;
        &:after {
            .clearfix;
        }
        @media @tablet-sm {
            padding: 68px 10px 38px;
            position: relative;
            z-index: 2;
        }
        @media @desktop-sm {
            padding-left: 20px;
            padding-right: 20px;
        }

        li {
            max-width: 250px;
            margin: 0 auto 20px;
            padding: 0 10px;
            @media @mobile-md {
                margin-left: 20px;
                margin-right: 20px;
                display: inline-block;
                vertical-align: top;
            }
            @media @tablet-sm {
                margin: 0 0 32px;
                &:nth-child(even) {
                    float: right;
                }
                &:nth-child(odd) {
                    float: left;
                }
                &:nth-child(2n+1) {
                    clear: left;
                }
            }
            @media @desktop-sm {
                &:first-child {
                    margin-left: 130px;
                }
                &:nth-child(2) {
                    margin-right: 124px;
                }
            }
        }

        .image {
            width: 250px;
            height: 250px;
            margin: 0 -10px 16px;
            display: block;
            border: 5px solid @color-white;
            user-select: none;
        }
    }

    .girl {
        width: 200px;
        margin: 0 auto;
        user-select: none;
        @media @tablet-sm {
            width: 615px;
            margin: 0 auto;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}
